---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/customer-token/v1/tokens/93c69742-a378-43b7-9ae6-6d457dd4dfc6/order
    body:
      encoding: UTF-8
      string: '{"locale":"sv-SE","order_lines":[{"type":"digital","reference":"11111","name":"The
        good stuff","quantity":1,"unit_price":34900,"tax_rate":2500,"total_amount":34900,"total_discount_amount":0,"total_tax_amount":6980}],"order_amount":34900,"order_tax_amount":6980,"purchase_currency":"SEK","auto_capture":true}'
    headers:
      Authorization:
      - Basic UEsyNjk2OnopemIzNjE5MDRlYjc6d1pZaVI1dWE4NlVIaUczQw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      render-time:
      - '411'
      klarna-correlation-id:
      - f4cdc42c-d4e1-424d-b8c7-a7fe67fd4766
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "order_id" : "03aedf2d-e9be-26c5-b027-c89d633bdeb0",
          "fraud_status" : "ACCEPTED",
          "authorized_payment_method" : {
            "type" : "invoice"
          }
        }
  recorded_at: Wed, 30 Sep 2020 12:31:01 GMT
recorded_with: VCR 6.0.0
