---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/checkout/v3/orders/
    body:
      encoding: UTF-8
      string: '{"purchase_country":"SE","purchase_currency":"SEK","locale":"sv-SE","order_amount":9900,"order_tax_amount":1980,"order_lines":[{"type":"digital","reference":"11111","name":"Funny
        Service","quantity":1,"unit_price":9900,"tax_rate":2500,"total_amount":9900,"total_discount_amount":0,"total_tax_amount":1980}],"merchant_urls":{"id":"57141","terms":"http://www.example.com/terms","checkout":"http://www.example.com/checkout","confirmation":"http://www.example.com/confirmation_uri","push":"http://www.example.com/push"}}'
    headers:
      Authorization:
      - Basic <base64 string>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      klarna-correlation-id:
      - cbd563fa-b81a-4a61-bb30-a60f2e414d21
      location:
      - https://api.playground.klarna.com/checkout/v3/orders/a8300100-ca6f-68c4-9f9f-c3e3b132b0a4
      render-time:
      - '22'
    body:
      encoding: UTF-8
      string: '{"order_id":"a8300100-ca6f-68c4-9f9f-c3e3b132b0a4","status":"checkout_incomplete","purchase_country":"se","purchase_currency":"SEK","locale":"sv-SE","billing_address":{"country":"se"},"customer":{},"shipping_address":{"country":"se"},"order_amount":9900,"order_tax_amount":1980,"order_lines":[{"type":"digital","reference":"11111","name":"Funny
        Service","quantity":1,"unit_price":9900,"tax_rate":2500,"total_amount":9900,"total_discount_amount":0,"total_tax_amount":1980}],"merchant_urls":{"terms":"http://www.example.com/terms","checkout":"http://www.example.com/checkout","confirmation":"http://www.example.com/confirmation_uri","push":"http://www.example.com/push"},"html_snippet":"<div
        id=\"klarna-checkout-container\" style=\"overflow-x: hidden;\">\n  <div id=\"klarna-unsupported-page\">\n  <style
        type=\"text/css\">\n  @-webkit-keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes
        klarnaFadeIn{from{opacity:0}to{opacity:1}}@keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}#klarna-unsupported-page{opacity:0;opacity:1\\9;-webkit-animation:klarnaFadeIn
        ease-in 1;-moz-animation:klarnaFadeIn ease-in 1;animation:klarnaFadeIn ease-in
        1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;a[...]
