---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/checkout/v3/orders/
    body:
      encoding: UTF-8
      string: '{"purchase_country":"se","purchase_currency":"SEK","locale":"se-SE","order_amount":9900,"order_tax_amount":1980,"order_lines":[{"type":"digital","reference":"11111","name":"Funny
        Service","quantity":1,"unit_price":9900,"tax_rate":2500,"total_amount":9900,"total_discount_amount":1000,"total_tax_amount":1980}],"merchant_urls":{"push":"http://www.example.com/push","terms":"http://www.example.com/terms","confirmation":"http://www.example.com/confirmation_uri","checkout":"http://example.com/checkout"},"recurring":true}'
    headers:
      Authorization:
      - Basic UEsyNjk2OF84NmIzNjE5MDRlYjc6d1pZaVI1dWE4NlVIaUczQw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      klarna-correlation-id:
      - a3f6618a-df3a-4878-8dca-8f94d26781fa
      render-time:
      - '2'
    body:
      encoding: UTF-8
      string: '{"error_code":"BAD_VALUE","error_messages":["Bad value: total_amount"],"correlation_id":"a3f6618a-df3a-4878-8dca-8f94d26781fa","service_version":"1.0.20201005101053"}'
  recorded_at: Tue, 06 Oct 2020 20:34:51 GMT
recorded_with: VCR 6.0.0
