---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/checkout/v3/orders/
    body:
      encoding: UTF-8
      string: '{"purchase_country":"se","purchase_currency":"SEK","locale":"se-SE","order_amount":9900,"order_tax_amount":1980,"order_lines":[{"type":"digital","reference":"11111","name":"Funny
        Service","quantity":1,"unit_price":9900,"tax_rate":2500,"total_amount":9900,"total_discount_amount":1000,"total_tax_amount":1980}],"merchant_urls":{"push":"http://www.example.com/push","terms":"http://www.example.com/terms","confirmation":"http://www.example.com/confirmation_uri","checkout":"http://example.com/checkout"},"recurring":true}'
    headers:
      Authorization:
      - Basic dGhlX2R1ZGU6YWJpZGVz
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      content-type:
      - text/html
      www-authenticate:
      - Basic realm="very closed site"
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401
        Authorization Required</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 06 Oct 2020 09:15:23 GMT
recorded_with: VCR 6.0.0
